/* style.css */


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: orange;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


body {
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
  font-family: 'Nunito Sans',sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

/*          Navigation        */

.sticky {
  z-index: 9999;
  position: fixed;
  background: maroon;
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  color: #f4f4f4;
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 3.5rem;
}

#nav-menu {
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: #10182F;
  z-index: 1;
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: #2b4933;
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: #10182F;
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.3s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}


/*      Search       */


.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}


  /*          Hamburger Menu      */


#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}
  

/*        Responsive media queries - navigation       */


@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 10px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}

/*  Hero  */

#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 0;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}
.hero-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}
@media (min-width: 576px) {
  .hero-container {
      max-width: 540px;
  }
}
html:not(.no-js) [data-aos^=zoom][data-aos^=zoom].aos-animate {
  opacity: 1;
  transform: translateZ(0) scale(1);
}
.carousel {
  position: relative;
}
.carousel-fade .carousel-item.active {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .carousel-item {
  transition-property: opacity;
  transform: none;
}
.carousel-item.active {
  display: block;
}
.carousel-item {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
@media (max-width: 768px) {
  #hero .carousel-container {
      height: 50vh;
      padding-top: 80px;
  }
}
@media (max-width: 768px) {
  #hero h2 {
      font-size: 30px;
  }
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
#hero .btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #025726;
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
.d-flex {
display: flex!important;
display: -ms-flexbox!important;
}
.align-self-center {
align-self: center!important;
border-radius: 20px;
}


/*   Liturgy   */

.liturgy {
  max-width: 75%;
  margin: auto;
  padding-top: 150px;
}
.center {
  width: 100%;
  text-align: center;
}
.liturgy > h1 {
  letter-spacing: 0px;
}
.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.accordion i {
  font-size: 1.6rem;
}
.active, .accordion:hover {
  background-color: white;
}
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  padding: 0 2rem 2.5rem 2rem;
}
.panel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.morning {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}
.morning:active {
  border: none;
}





/*   Services   */

.services {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #f8f9fa;
}
.services-container {
  margin-top: 1rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
.services-container {
  max-width: 1200px;
}
}

@media (min-width: 992px) {
.services-container {
  max-width: 960px;
}
}
.services-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
.services-col {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
}
.services-row2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}
.services-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 992px) {
.services-col {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
}
.card-border {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 50px;
  border: 0;
  height: 100%;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.text-primary {
  color: #cbe91e;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.text-muted {
  color: #333;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.card-footer:last-child {
  border-radius: 5px;
  background-color: #fff;
  padding: 0.75rem 1.25rem;
}
.card-btn {
  font-family: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out;
  color: rgb(5, 112, 32);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0.5rem;
}
h3 {
color: rgb(5, 112, 32);
font-weight: 500;
font-size: 3.5rem;
margin-top: 0;
margin-bottom: 1rem;
line-height: 1;
}

/*   Youtube   */

.YT {
    font-size: 26px;
    font-weight: 600;
  }
.youtube {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 20%;
}
.i-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/*   Footer   */

.footer {
  position: relative;
  max-width: 100%;
  width: 100%;
  background: #10182F;
  border-radius: 6px;
  margin-top: 60px;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 10px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    border-radius: 0;
  }
  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }
  .footer-col form {
    display: block;
  }
  .footer-col form :where(input, button) {
    width: 100%;
  }
  .footer-col form button {
    margin: 10px 0 0 0;
  }
}
